#body{
    font-family: 'League Gothic', sans-serif !important;
}

#background-img{
    width: 100%, !important;
    position: fixed, !important;
}

#span-perfil{
    margin-left: 109px !important;
}

#nav-bar{
    width: 80%, !important;
    border-radius: 50px, !important;
}
